h1{
    color: red;
}
body{
    background: cyan;
}
p{
    color: blue;
   }
   .vermelho{
    color: red;
   }
   .roxo{
    color: blueviolet;
   }
    .verde{
        color: green;
    }
    .Laranja{
        color: coral;
    }
    .Amarelo{
        color: yellow;
    }
